<%-include("header")%>
<style>
    .edit-product{
        width:50%;
        margin:auto;
        margin-top:100px;
    }
    input{
        margin-bottom: 20px;
    }
    #update{
        margin-top:40px;
    }
    h3{
        margin-bottom:40px;
    }
</style>
<div class="edit-product">
    <h3>Edit Product</h3>
    <form action="/edit/<%=item.id%>/product" class="form-group row" method="POST">
        <label for="name" class="col-md-6">Product Name</label>
        <div class="col-md-6">
            <input type="text" name="name" id="name" required value="<%=item.name%>" class="form-control">
        </div>
        <label for="price" class="col-md-6">Product Price</label>
        <div class="col-md-6">
            <input type="text" name="price" id="price" required value="<%=item.price%>" class="form-control">
        </div>
        <label for="packing" class="col-md-6">Product Packing</label>
        <div class="col-md-6">
            <input type="text" name="packing" id="packing" required value="<%=item.packing%>" class="form-control">
        </div>
        <input type="submit" value="Update" id="update" class="btn btn-success btn-block">
    </form>
</div>
<%-include("footer")%>
