<%-include("header")%>
<div class="fertilizers">
    <div class="row">
        <h2 class="col-sm-12"><%=product.name%></h2>
        <div class="col-md-5">
            <%let img=product.name.replace(/\s/g,''); img=img.replace(/:/g,'');%>
                <img src="/<%=img%>.jpg" class="img-fluid" alt="fertilizer">
                <div class="info">
                    <h4>Rs.<%=product.price%></h4>
                    <h4><%=product.packing%></h4>
                </div>
        </div>
        <div class="col-md-7">
            
            <%if(product.description){%>
            <h3>Description</h3>
            <p><%=product.description%></p>
            <%}%>
            <%if(product.specification.length>0){%>
            <h3>Specification</h3>
            <%product.specification.forEach(item=>{%>
                <li><%=item%></li>
            <%})%>
            <%}%>
            <%if(product.application.length>0){%>
            <h3>Application</h3>
            <%product.application.forEach(item=>{%>
                <li><%=item%></li>
            <%})%>
            <%}%>
        </div>
    </div>
</div>
<%-include("footer")%>
